@charset "UTF-8";

*{
    margin: 0px;
    padding-block-end: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkblue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 2em;
    margin-top: -5px;
}

a:hover{
    background-color: rgb(0, 0, 255);
}